.sidebar {
    width: 150px;
    min-width: 150px;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #4705bb 0%, #5d02ab 99%);
    overflow: hidden;
    transition: 1s linear;
}

.sidebar__toggle {
    color: white;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    transition: .2s ease-in-out;
}

.sidebar__toggle>svg {
    transition: .2s ease-in-out;
}

.sidebar__toggle>svg {
    position: absolute;
    right: 5px;
}

.sidebar__toggle:hover>svg {
    color: black;
    right: 15px;
}

.sidebar__options {
    flex: 0.85;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar__option {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.sidebar__option:hover {
    color: #1f0350;
}

.sidebar__option:hover .sidebar__option__title {
    color: #1f0350;
}

.sidebar__option__title {
    margin-top: 5px;
    color: white;
    transition: .4s ease-in-out;
}

.sidebar--hidden {
    margin-left: -150px;
    margin-right: 74px;
    background-color: transparent;
    animation: disappear 1s;
}

.sidebar__hidden .sidebar__option {
    display: none;
}

.sidebar>a {
    width: 100%;
}

.sidebar>a>img {
    object-fit: contain;
    margin-left: -22px;
    transition: .7s ease-in-out;
}

.sidebar--hidden img {
    display: none;
}

.sidebar__toggle--hidden {
    width: 50px;
    height: 50px;
    float: left;
    border: none;
    outline: none;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 0 5px #000;
    border-radius: 0 0 5px 0;
    z-index: 10;
    transition: .2s ease-in-out;
}

.sidebar__toggle--hidden:hover {
    transform: scale(1.2);
    color: blueviolet;
    border: 1px solid #5d02ab;
    border-radius: 5px;
}

@keyframes disappear {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -150px;
    }
}